# Projeto 1 - Ciência dos Dados

Nome: Matheus Silva Rodrigues

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\theus\Downloads\PROJETO CDADOS\22-1a-cd-p1-grupo_matheussr

Carregando a base de dados com as notícias classificadas manualmente:

In [3]:
filename = 'dados.xlsx'

In [4]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

,Categoria,Titulo,PrimeiroParag,Data,Pagina,Target
0,Empresas,Fintech argentina Ualá acelera expansão com es...,"A startup argentina de pagamentos móveis Ualá,...",29/09/2020 - 15:17,36,1
1,Comprar ou vender?,Méliuz: 2021 começa forte e ação pode subir 35...,Os analistas do BTG Pactual (BPAC11) ficaram b...,07/04/2021 - 16:58,31,0
2,Jornais,Confira as principais notícias dos jornais des...,Veja as principais manchetes desta quinta-feir...,26/08/2021 - 7:00,24,1
3,1 Bilhão Educação Financeira,É melhor investir no RDB ou na Nuconta?,"Recentemente a fintech Nubank, que conta com ...",07/08/2019 - 14:40,47,2
4,Empresas,Plataforma VTEX busca avaliação de US$ 3 bilhõ...,"A VTEX, provedora de plataforma de comércio di...",12/07/2021 - 11:21,27,1

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Categoria,Titulo,PrimeiroParag,Data,Pagina,Target
0,Empresas,Monashees busca US$ 700 milhões para investir ...,A gestora de venture capital Monashees está le...,18/10/2021 - 9:38,20,1
1,Comprar ou vender?,Itaú BBA vê ação do Nubank caindo mais 20%; pr...,"O Nubank (NU), que estreou na Bolsa de Nova Yo...",04/01/2022 - 18:04,9,0
2,Comprar ou vender?,Ação do Bradesco e do Itaú estão baratas e são...,As ações do bancos oferecem uma bela oportunid...,16/12/2021 - 19:44,10,1
3,Carreira,Nubank planeja contratar duas mil pessoas negr...,"O Nubank, maior banco digital independente do ...",14/02/2021 - 16:00,33,2
4,Bancos,Nubank irá lançar novo serviço de empréstimo p...,"A Nubank, empresa voltada para serviços financ...",08/02/2019 - 17:06,50,2

___
## Classificador automático

Faça aqui uma descrição do seu assunto e o que considerou como relevante ou não relevante na classificação das notícias (Target).

Nubank e considerei negativas (0) tudo que era ruim p empresa, neutra (1) tudo o que n influenciava a empresa e positivas (2) tudo oq é bom p empresa

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [6]:
def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[!-.:?;"]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    pattern2 = re.compile('\xa0')
    text_subbed = re.sub(pattern, '', text)
    text_subbed = re.sub(pattern2, '', text_subbed)
    text_final = text_subbed.lower()
    
    return text_final

In [7]:
train.Titulo = train.Titulo.astype('str')
train.PrimeiroParag = train.PrimeiroParag.astype('str')
train.Titulo = train.Titulo.apply(cleanup)
train.PrimeiroParag = train.PrimeiroParag.apply(cleanup)

train['texto']= None
for i in range(0,300):
    train['texto'][i] = train['Titulo'][i] + ' ' + train['PrimeiroParag'][i]
train

test.Titulo = test.Titulo.astype('str')
test.PrimeiroParag = test.PrimeiroParag.astype('str')
test.Titulo = test.Titulo.apply(cleanup)
test.PrimeiroParag = test.PrimeiroParag.apply(cleanup)

test['texto']= None
for i in range(0,200):
    test['texto'][i] = test['Titulo'][i] + ' ' + test['PrimeiroParag'][i]
test

<ipython-input-7-a1015756017d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['texto'][i] = train['Titulo'][i] + ' ' + train['PrimeiroParag'][i]
<ipython-input-7-a1015756017d>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['texto'][i] = test['Titulo'][i] + ' ' + test['PrimeiroParag'][i]

,Categoria,Titulo,PrimeiroParag,Data,Pagina,Target,texto
0,Empresas,monashees busca us 700 milhões para investir e...,a gestora de venture capital monashees está le...,18/10/2021 - 9:38,20,1,monashees busca us 700 milhões para investir e...
1,Comprar ou vender?,itaú bba vê ação do nubank caindo mais 20 pref...,o nubank nu que estreou na bolsa de nova york ...,04/01/2022 - 18:04,9,0,itaú bba vê ação do nubank caindo mais 20 pref...
2,Comprar ou vender?,ação do bradesco e do itaú estão baratas e são...,as ações do bancos oferecem uma bela oportunid...,16/12/2021 - 19:44,10,1,ação do bradesco e do itaú estão baratas e são...
3,Carreira,nubank planeja contratar duas mil pessoas negr...,o nubank maior banco digital independente do m...,14/02/2021 - 16:00,33,2,nubank planeja contratar duas mil pessoas negr...
4,Bancos,nubank irá lançar novo serviço de empréstimo p...,a nubank empresa voltada para serviços finance...,08/02/2019 - 17:06,50,2,nubank irá lançar novo serviço de empréstimo p...
...,...,...,...,...,...,...,...
195,Colunista Empiricus,rodolfo amstalden fechamento de ciclo abertura...,“no contexto atual por exemplo estamos aprende...,09/12/2021 - 16:08,12,1,rodolfo amstalden fechamento de ciclo abertura...
196,Mercados,méliuz recupera parte das perdas do pósindepen...,as ações da méliuz cash3 sobem 36 na sessão de...,09/09/2021 - 12:39,23,1,méliuz recupera parte das perdas do pósindepen...
197,Bancos,nubank levanta us 400 milhões e atinge avaliaç...,o nubank levantou 400 milhões de dólares em su...,28/01/2021 - 10:50,33,2,nubank levanta us 400 milhões e atinge avaliaç...
198,Startup,quem são as startups brasileiras candidatas a ...,primeiro foram as fintechs e os aplicativos de...,26/01/2020 - 10:31,40,1,quem são as startups brasileiras candidatas a ...
199,Mercados,com exterior negativo ibovespa futuro começa a...,por investingcom,13/05/2019 - 9:15,49,0,com exterior negativo ibovespa futuro começa a...

In [8]:
prob_treino = train.Target.value_counts(normalize=True)
prob_treino

zero = ''
um = ''
dois = ''

lista_zero= train.loc[(train.Target==0),'texto']
lista_um = train.loc[(train.Target==1),'texto']
lista_dois = train.loc[(train.Target==2),'texto']

for z in lista_zero:
    zero += " " + z

for u in lista_um:
    um += " " + u
    
for d in lista_dois:
    dois += " " + d
dois

todas_palavras_zero = zero.split()
todas_palavras_um = um.split()
todas_palavras_dois = dois.split()

serie_zero = pd.Series(todas_palavras_zero)
serie_um = pd.Series(todas_palavras_um)
serie_dois = pd.Series(todas_palavras_dois)
serie_zero.head(10)

tabela_zero = serie_zero.value_counts()
tabela_um = serie_um.value_counts()
tabela_dois = serie_dois.value_counts()

total = zero + um + dois
todas_palavras_portugues = total.split()
serie_portugues = pd.Series(todas_palavras_portugues)
tabela_portugues = serie_portugues.value_counts()

#tabela_portugues_relativa = serie_portugues.value_counts(True)
#tabela_portugues_relativa

prob_zero = len(serie_zero) / len(serie_portugues)
prob_um = len(serie_um) / len(serie_portugues)
prob_dois = len(serie_dois) / len(serie_portugues)
print(f' Prob 0: {prob_zero:0.5g}')
print(f' Prob 1: {prob_um:0.5g}')
print(f' Prob 2: {prob_dois:0.5g}')


prob_neg = []
prob_pos = []
prob_neu = []

for texto in test.texto:
    probFraseDado0 = 1
    probFraseDado1 = 1
    probFraseDado2 = 1
    
    for palavra in texto.split():
        
        if palavra in tabela_zero:
            probFraseDado0 *= (tabela_zero[palavra] + 1)/(tabela_zero.sum() + len(tabela_zero))
        else:
            probFraseDado0 *= (0 + 1)/(tabela_zero.sum() + len(tabela_zero))
            
        if palavra in tabela_um:
            probFraseDado1 *= (tabela_um[palavra] + 1)/(tabela_um.sum() + len(tabela_um))
        else:
            probFraseDado1 *= (0 + 1)/(tabela_um.sum() + len(tabela_um))
            
        if palavra in tabela_dois:
            probFraseDado2 *= (tabela_dois[palavra] + 1)/(tabela_dois.sum() + len(tabela_dois))
        else:
            probFraseDado2 *= (0 + 1)/(tabela_dois.sum() + len(tabela_dois))
    prob_neg.append(probFraseDado0)
    prob_neu.append(probFraseDado1)
    prob_pos.append(probFraseDado2)
    
print(len(prob_neg))
print(len(prob_neu))
print(len(prob_pos))

 Prob 0: 0.20845
 Prob 1: 0.40235
 Prob 2: 0.38919
200
200
200

In [9]:
prob_zero_texto = []
for probFraseDado0 in prob_neg: 
    probzero_texto = probFraseDado0*prob_zero
    prob_zero_texto.append(probzero_texto)
    
print(len(prob_zero_texto))

200

In [10]:
prob_um_texto = []
for probFraseDado1 in prob_neu: 
    probum_texto = probFraseDado1*prob_um
    prob_um_texto.append(probum_texto)
    
print(len(prob_um_texto))

200

In [11]:
prob_dois_texto = []
for probFraseDado2 in prob_pos: 
    probdois_texto = probFraseDado2*prob_dois
    prob_dois_texto.append(probdois_texto)
    
print(len(prob_dois_texto))

200

In [21]:
for i in range(len(prob_zero_texto)):
    if prob_zero_texto[i] > prob_dois_texto[i] and prob_zero_texto[i] > prob_um_texto[i]:
        test.loc[ i, 'Teste'] = 0
    elif prob_dois_texto[i] > prob_zero_texto[i] and prob_dois_texto[i] > prob_um_texto[i]:
        test.loc[ i, 'Teste'] = 2
    else:
        test.loc[i, 'Teste'] = 1
test

,Categoria,Titulo,PrimeiroParag,Data,Pagina,Target,texto,Teste
0,Empresas,monashees busca us 700 milhões para investir e...,a gestora de venture capital monashees está le...,18/10/2021 - 9:38,20,1,monashees busca us 700 milhões para investir e...,2.0
1,Comprar ou vender?,itaú bba vê ação do nubank caindo mais 20 pref...,o nubank nu que estreou na bolsa de nova york ...,04/01/2022 - 18:04,9,0,itaú bba vê ação do nubank caindo mais 20 pref...,0.0
2,Comprar ou vender?,ação do bradesco e do itaú estão baratas e são...,as ações do bancos oferecem uma bela oportunid...,16/12/2021 - 19:44,10,1,ação do bradesco e do itaú estão baratas e são...,0.0
3,Carreira,nubank planeja contratar duas mil pessoas negr...,o nubank maior banco digital independente do m...,14/02/2021 - 16:00,33,2,nubank planeja contratar duas mil pessoas negr...,0.0
4,Bancos,nubank irá lançar novo serviço de empréstimo p...,a nubank empresa voltada para serviços finance...,08/02/2019 - 17:06,50,2,nubank irá lançar novo serviço de empréstimo p...,0.0
...,...,...,...,...,...,...,...,...
195,Colunista Empiricus,rodolfo amstalden fechamento de ciclo abertura...,“no contexto atual por exemplo estamos aprende...,09/12/2021 - 16:08,12,1,rodolfo amstalden fechamento de ciclo abertura...,0.0
196,Mercados,méliuz recupera parte das perdas do pósindepen...,as ações da méliuz cash3 sobem 36 na sessão de...,09/09/2021 - 12:39,23,1,méliuz recupera parte das perdas do pósindepen...,0.0
197,Bancos,nubank levanta us 400 milhões e atinge avaliaç...,o nubank levantou 400 milhões de dólares em su...,28/01/2021 - 10:50,33,2,nubank levanta us 400 milhões e atinge avaliaç...,2.0
198,Startup,quem são as startups brasileiras candidatas a ...,primeiro foram as fintechs e os aplicativos de...,26/01/2020 - 10:31,40,1,quem são as startups brasileiras candidatas a ...,2.0
199,Mercados,com exterior negativo ibovespa futuro começa a...,por investingcom,13/05/2019 - 9:15,49,0,com exterior negativo ibovespa futuro começa a...,0.0

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [22]:
tabela_crostab = pd.crosstab(test.Teste, test.Target, normalize = True)
tabela_crostab

Target      0      1      2
Teste
0.0     0.135  0.275  0.195
1.0     0.000  0.160  0.020
2.0     0.025  0.040  0.150

In [26]:
#% verdadeiros positivos
true_positive = tabela_crostab.iloc[2,2]*100
true_positive

15.0

In [27]:
#% falsos positivos
False_positive = tabela_crostab.iloc[2,0]*100
False_positive

2.5

In [28]:
#% verdadeiros negativo
true_negative = tabela_crostab.iloc[0,0]*100
true_negative

13.5

In [29]:
#% falsos negativo
False_positive = tabela_crostab.iloc[0,2]*100
False_positive

19.5

In [35]:
acuracia = true_positive + true_negative
acuracia

28.5

In [36]:
#% verdadeiros negativo
true_neutral = tabela_crostab.iloc[1,1]*100
true_neutral

16.0

In [37]:
#% Falsos negativo
False_neutral_n = tabela_crostab.iloc[1,0]*100
print(False_neutral_n)

False_neutral_p = tabela_crostab.iloc[1,2]*100
print(False_neutral_p)

0.0
2.0

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações das notícias entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nas notícias. Ex: stemming, lemmatization, stopwords
* CONSIDEROU mais de duas caterogias na variável Target e INCREMENTOU a quantidade de notícias, mantendo pelo menos 250 notícias por caterogia (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* Para Target com duas categorias: CRIOU pelo menos quatro categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto (pelo menos dois cenários, exceto aqueles já apresentados em sala pelos professores: por exemplo, filtro de spam)
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item Qualidade do Classificador a partir de novas separações das Notícias entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**